apiVersion: apps/v1
kind: Deployment
metadata:
  name: opa
  namespace: zero-trust-demo
  labels:
    app: opa
spec:
  replicas: 1
  selector:
    matchLabels:
      app: opa
  template:
    metadata:
      labels:
        app: opa
    spec:
      containers:
      - name: opa
        image: openpolicyagent/opa:0.62.0-envoy
        args:
          - "run"
          - "--server"
          - "--addr=0.0.0.0:8181"
          - "--diagnostic-addr=0.0.0.0:8282"
          - "--set=plugins.envoy_ext_authz_grpc.addr=:9191"
          - "--set=plugins.envoy_ext_authz_grpc.path=envoy/authz/allow"
          - "--set=decision_logs.console=true"
          - "--ignore=.*"
          - "/policies/user-service-policy.rego"
        ports:
          - name: http
            containerPort: 8181
          - name: grpc
            containerPort: 9191
        volumeMounts:
          - name: policy-volume
            mountPath: /policies
      volumes:
        - name: policy-volume
          configMap:
            name: opa-policy
---
apiVersion: v1
kind: Service
metadata:
  name: opa
  namespace: zero-trust-demo
spec:
  selector:
    app: opa
  ports:
    - name: grpc
      port: 9191
      targetPort: 9191
    - name: http
      port: 8181
      targetPort: 8181
