apiVersion: apps/v1
kind: Deployment
metadata:
  name: envoy
  namespace: zero-trust-demo
  labels:
    app: envoy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: envoy
  template:
    metadata:
      labels:
        app: envoy
    spec:
      containers:
      - name: envoy
        image: envoyproxy/envoy:v1.30.0
        ports:
        - containerPort: 80 # Port exposed to Minikube service
        volumeMounts:
        - name: envoy-config-volume
          mountPath: /etc/envoy
        command: ["envoy"]
        args: ["-c", "/etc/envoy/envoy.yaml"]
      volumes:
      - name: envoy-config-volume
        configMap:
          name: envoy-config
---
apiVersion: v1
kind: Service
metadata:
  name: envoy
  namespace: zero-trust-demo
spec:
  type: LoadBalancer # Expose publicly via Minikube IP
  selector:
    app: envoy
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80